/* CONSTANTS */
@f-r: "Ubuntu-R";
@f-b: "Ubuntu-B";
@f-l: "Ubuntu-L";

@pur: #525084;
@pur-border: rgba(82, 80, 132, 0.5);
@gray: #6f6f6f;

@head-height: 45px; 
@foot-height: 37px;

button, input{
    font-family: @f-l;
}

h1, h2, h3, h4, h5, h6{ font-family: @f-r; }

.modal-back{ position: fixed; top: 0; left: 0; width: 100%; height: 9000px; background: rgba(0,0,0,0.5); z-index: 11; display: none; }

.modal-wrapper{ position: fixed; height: 0; top: 0; left: 0; width: 100%; z-index: 12; }

.modal-close{  position: absolute; height: 40px;  width: 40px; 
    background: url(../img/modal-close.png) center center no-repeat; background-size: cover;
    top: 25px; right: 25px; cursor: pointer;}

.modal .modal-close, .modal-calc .modal-close{  top: 10px;  right: 10px;  height: 30px;   width: 30px; }

.opacity-one{ opacity: 1; }

.modal{  display: block;  margin: 150px auto;  height: auto;  min-height: 200px; max-width: 700px; width: 90%; background: #fff; color: #3b3b3b;
    text-align: center; z-index: 4; padding-top: 20px; padding-bottom: 2px; display: none; position: relative; }

.btns-row{ float: left; width: 100%; margin-top: 25px;}

.modal input { display: inline-block; width: 140px; padding: 10px 25px; margin-right: 20px; margin-left: 20px; height: 12px; outline: none;
    border: none; border: 1px solid #5d4063; background: rgba(0,0,0,0); -webkit-transition: .2s linear; transition: .2s linear; font-size: 12px; font-family: @f-r; 
}

.btn-wrap{ float: left; width: 100%; text-align: center; }

.btn-black{ width: auto; outline:none; box-sizing: border-box; padding: 7px 15px; border: 1px solid #000; color: #000;
    background: rgba(0,0,0,0); -webkit-transition: .3s linear; transition: .3s linear;
    &:hover{ color: #fff; background: #000; }
}

.send-btn{
    display: inline-block;
}

.modal-title{ float: left; width: 100%; text-align: center; margin-top: 20px; font-size: 16px; font-family: @f-l; }

.thx{
    display: block; margin: 150px auto; height: auto;
    width: 270px; background: #fff; ;
    box-sizing: border-box; 
    -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
    outline: none; border: none; border: 1px solid #5d4063; font-size: 13px; padding: 40px 25px; text-align: center; z-index: 13; display: none;
    p{ font-size: 13px; }
}

.wrap{float: left; width: 70%; margin-left: 15%; margin-right: 15%; height: auto;}

.header{ float: left; width: 100%; }

.head{ float: left; width: 100%; padding: 23px 0; background: #fff; position: relative; z-index: 3; }

.head-logo{ float: left; height: @head-height; width: auto;
    img{ float: left; height: 100%; width: auto; }
}

.head-lang{ float: right; height: @head-height; width: auto; }

.lang-box{ float: left; width: 55px; height: @head-height; line-height: @head-height; font-size: 11px; text-align: center; color: @pur; -webkit-transition: .2s linear; transition: .2s linear;
    &:hover{ background: rgba(82, 80, 132, 0.2); }
}

.lang-center{ border-left: 1px solid @pur-border; border-right: 1px solid @pur-border; }

.navigation{ float: left; width: 100%; background: #000; position: relative; }

.navigation-row{ float: left; width: 100%; display: flex; justify-content: space-between; z-index: 1; }

.nav{ display: block; color: #fff; height: 30px; line-height: 30px; font-size: 13px; 
    &:hover{ text-decoration: underline; }
}

.nav-mob{ display: none; float: left; padding: 12px 10%; height: 16px; width: 80%; background: #000; border-bottom: 1px solid rgba(255,255,255,0.5); cursor: pointer; position: relative; z-index: 3;
    p{ float: left; width: auto; height: 16px; line-height: 16px; font-size: 14px; color: #fff; }
    img{ float: right; width: auto; height: 16px; -webkit-transition: .3s linear; transition: .3s linear; }
}

.nav-active img{
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


.header-main{ float: left; width: 100%; padding-top: 135px; padding-bottom: 135px; box-sizing: border-box; background: url(../img/header.jpg) center center no-repeat; background-size: cover;
    h1{ float: left; width: 100%; font-weight: normal; font-size: 34px; color: #000; text-align: center; }
    .btn-wrap{ margin-top: 25px; }
}

.second{ float: left; width: 100%; padding-top: 95px; padding-bottom: 95px; box-sizing: border-box; background: url(../img/second.jpg) center center no-repeat; background-size: cover;
    h2{ float: left; width: 100%; color: #fff; font-weight: normal; font-size: 18px; text-align: center; }
    p{ float: left; width: 100%; color: #fff; margin-top: 15px; font-size: 13px; text-align: center; }
}

.main-spec{ float: left; width: 80%; margin-left: 10%; margin-right: 10%; }

.main-spec-title{ display: none; float: left; width: 100%; margin-top: 35px; font-size: 18px; color: #383838; text-align: center; }

.ms-box{ float: left; width: 20%; height: 550px; box-sizing: border-box; padding: 0 10px; border-right: 1px solid #b4b4b4; position: relative;
    h2{ position: absolute; top: 55px; left: 0; width: 100%; font-size: 18px; color: #383838; text-align: center; font-weight: normal; }
    h3{ float: left; width: 100%; margin-top: 135px; box-sizing: border-box; padding-left: 40px; font-size: 20px; font-family: @f-b; font-weight: normal; color: #b4b4b4; }
    img{ float: left; width: 100%; margin-top: 20px; }
    p{ float: left; width: 100%; margin-top: 20px; box-sizing: border-box; padding: 0 30px; font-size: 13px; color: #383838; }

    &-no{ border-right: none; }
}

.footer{ float: left; width: 100%; background: #000; }

.footation{ float: left; width: 100%; box-sizing: border-box; border-bottom: 1px solid @gray; padding-top: 35px; padding-bottom: 35px; display: flex; justify-content: space-between; }

.foot{ display: block; color: @gray; height: 30px; line-height: 30px; font-size: 13px;
    a{ color: @gray; -webkit-transition: .3s linear;transition: .3s linear;
        &:hover{ color: #fff; }
    }
}

.under-footer{ float: left; width: 100%; box-sizing: border-box; padding-top: 30px; padding-bottom: 40px; display: flex; justify-content: space-between; }

.foot-logo{ display: block; height: @foot-height; width: auto;
    img{ display: block; height: 100%; width: auto; }
}

.foot-tel{ display: block; height: @foot-height; box-sizing: border-box; width: auto; padding-top: 13px; font-size: 12px; color: @gray;
    a{ color: @gray; }
}

.foot-icons{ display: block; height: @foot-height; width: auto; }

.foot-icon{ display: inline-block; height: 100%; width: auto; box-sizing: border-box; padding: 12px 9px 0;
    img{ display: block; height: 19px; width: auto; }
}

.foot-gi{ display: block; height: @foot-height; width: auto; box-sizing: border-box; padding-top: 4px;
    p{ display: inline-block; font-size: 13px; color: @gray; line-height: 14px; text-align: right; -webkit-transition: .3s linear;transition: .3s linear; vertical-align: bottom; }
    svg{ display: inline-block; margin-left: 12px; height: 28px; width: auto; vertical-align: bottom; }
    path { fill: #67717a; -webkit-transition: .3s linear;transition: .3s linear; }

    &:hover path{ fill: #2281c1; }
    &:hover p{ color: #fff; }
}

.section-processes{ float: left; width: 100%; padding: 35px 0; background: rgba(0,0,0,0.1); }

.box-process{ float: left; width: ~"calc(50% - 30px)"; margin: 15px; box-shadow: 0.5px 0.9px 16px 0 rgba(0, 0, 1, 0.26); background: #fff; }

.bp-img{ float: left; width: 100%; height: 200px; position: relative;
    h3{ position: absolute; top: 25px; left: 25px; color: #fff; font-size: 16px; font-weight: bold; }
    h4{ position: absolute; bottom: 15px; left: 25px; color: #fff; font-size: 17px; font-family: @f-l; letter-spacing: 1px; font-weight: normal; }
}

.bp-txt{ float: left; width: 100%; box-sizing: border-box; min-height: 87px; padding: 15px 25px;
    p{ float: left; width: 100%; font-size: 14px; }
}

.bp-1{ background: url(../img/process-1.jpg) center center no-repeat; background-size: cover; }
.bp-2{ background: url(../img/process-2.jpg) center center no-repeat; background-size: cover; }
.bp-3{ background: url(../img/process-3.jpg) center center no-repeat; background-size: cover; }
.bp-4{ background: url(../img/process-4.jpg) center center no-repeat; background-size: cover; }
.bp-5{ background: url(../img/process-5.jpg) center center no-repeat; background-size: cover; }
.bp-6{ background: url(../img/process-6.jpg) center center no-repeat; background-size: cover; }
.bp-7{ background: url(../img/process-7.jpg) center center no-repeat; background-size: cover; }

.box-process-call{ float: left; width: ~"calc(100% - 30px)"; margin: 15px; background: #fff; box-shadow: 0.5px 0.9px 16px 0 rgba(0, 0, 1, 0.26);
    .box-process{ width: ~"calc(50% - 15px)"; margin: 0 15px 0 0; box-shadow: none; }
}

.box-consultation{ float: left; width: ~"calc(50% - 15px)"; margin: 0 0 0 15px;
    h3{ float: left; width: 100%; margin-top: 15px; text-align: center; }
}

.bc-row{ float: left; width: 100%; margin-top: 5px; width: 100%; position: relative;
    label { float: left; width: 70%; margin: 12px 15% 0; font-size: 13px; font-family: @f-l; }
    input {float: left; outline: none; border: none; border: 1px solid rgba(0,0,0,0.2); width: 70%; margin: 5px 15% 0; font-size: 14px; box-sizing: border-box;
    padding: 7px 7px 7px 30px; font-family: @f-l;
        &:focus{ border: 1px solid @pur; }
    }
    textarea {float: left; outline: none; border: none; border: 1px solid rgba(0,0,0,0.2); width: 70%; max-width: 70%; margin: 5px 15% 0; font-size: 14px; box-sizing: border-box;
    padding: 7px 7px 7px 30px; font-family: @f-l; height: 200px; max-height: 200px;
        &:focus{ border: 1px solid @pur; }
    }
    select{ float: left; width: 70%; outline: none; margin: 5px 15% 0; font-size: 14px; padding: 7px 7px 7px 30px; }
    img{ position: absolute; top: 14px; left: ~"calc(15% + 10px)"; height: 17px; width: auto;}

    .bc-btn{ display: block; margin: 19px auto 0; width: auto; outline:none; box-sizing: border-box; padding: 3px 35px; border: 1px solid @pur; color: @pur; font-size: 14px; font-family: @f-r;
    background: #fff; -webkit-transition: .3s linear; transition: .3s linear;
    &:hover{ color: #fff; background: @pur; }
    }
}

.sc-title{ float: left; width: 100%; background: #fff; padding: 35px 0;
    h3{ float: left; width: 100%; text-align: center;  font-family: @f-r; font-weight: normal; font-size: 18px; }
    p{ float: left; width: 60%; margin: 7px 20% 0; text-align: center; font-size: 14px; }
}

.sc-box{ float: left; width: 100%; margin-bottom: 8px; display: flex; }

.sc-img{ float: left; width: 50%; }

.com-1{ background: url(../img/com-1.jpg) center center no-repeat; background-size: cover; }
.com-2{ background: url(../img/com-2.jpg) center center no-repeat; background-size: cover; }
.com-3{ background: url(../img/com-3.jpg) center center no-repeat; background-size: cover; }

.sc-txt{ float: left; width: 50%; padding: 45px; box-sizing: border-box; background: @pur;
    h3{ float: left; width: 100%; font-size: 16px; font-family: @f-b; color: #fff; }
    p{ float: left; width: 100%; margin-top: 25px; color: #fff; font-size: 14px; }
    a{ float: left; width: auto; margin-top: 35px; border: 1px solid #fff; padding: 5px 45px; font-size: 13px; color: #fff; -webkit-transition: .3s linear; transition: .3s linear;
        &:hover{ background: #fff; color: @pur; }
    }
    span{ text-decoration: underline; }
}

.header-service{ float: left; width: 100%; background: url(../img/header-services.jpg) center center no-repeat; background-size: cover; padding: 150px 0 180px; margin-bottom: 8px;
    h1{ float: left; width: 100%; text-align: center; color: #fff; font-size: 29px; font-family: @f-l; font-weight: normal; }
    h2{ float: left; width: 100%; text-align: center; margin: 15px 0 0; color: #fff; font-size: 15px; font-family: @f-l; font-weight: normal; }
}

.service-1{ background: url(../img/service-1.jpg) center center no-repeat; background-size: cover; }
.service-2{ background: url(../img/service-2.jpg) center center no-repeat; background-size: cover; }

.section-services{ float: left; width: 100%; background: rgba(0,0,0,0.1); }

.service-advantages{ float: left; width: 100%;
    h2{ float: left; width: 100%; margin-top: 45px; font-family: @f-l; font-weight: normal; font-size: 25px; text-align: center; }
}

.sa-boxes{ float: left; width: 90%; margin: 25px 5% 0; }

.sa-box{ float: left; width: ~"calc(33% - 30px)"; margin: 15px; box-shadow: 0.5px 0.9px 16px 0 rgba(0, 0, 1, 0.26); background: #fff; }

.sa-img{ float: left; width: 100%; height: 220px; position: relative;
    h3{ position: absolute; top: 25px; left: 25px; color: #fff; font-size: 16px; font-weight: bold; }
}

.sa-txt{ float: left; width: 100%; box-sizing: border-box; min-height: 170px; padding: 15px 25px;
    h3{ float: left; width: 100%; font-size: 17px; font-weight: normal; text-align: left; font-family: @f-l; font-weight: normal; }
    p{ float: left; margin: 15px 0 0; width: 100%; font-size: 14px; }
}

.sa-1{ background: url(../img/serv-1.jpg) center center no-repeat; background-size: cover; }
.sa-2{ background: url(../img/serv-2.jpg) center center no-repeat; background-size: cover; }
.sa-3{ background: url(../img/serv-3.jpg) center center no-repeat; background-size: cover; }

.sa-services{ float: left; width: 60%; margin: 35px 20% 0; }

.sa-service{ float: left; width: 100%; margin-bottom: 35px; box-shadow: 0.5px 0.9px 16px 0 rgba(0, 0, 1, 0.26); background: #fff; display: flex; }

.sas-txt{ width: 50%; padding: 35px 25px; min-height: 230px; box-sizing: border-box;
    h3{ float: left; width: 100%; font-size: 18px; font-family: @f-l; font-weight: normal; }
    p{ float: left; width: 100%; margin-top: 15px; font-size: 13px; }
}

.sas-img{ width: 50%; }

.sas-1{ background: url(../img/usluga-1.jpg) center center no-repeat; background-size: cover; }
.sas-2{ background: url(../img/usluga-2.jpg) center center no-repeat; background-size: cover; }
.sas-3{ background: url(../img/usluga-3.jpg) center center no-repeat; background-size: cover; }
.sas-4{ background: url(../img/usluga-4.jpg) center center no-repeat; background-size: cover; }
.sas-5{ background: url(../img/usluga-5.jpg) center center no-repeat; background-size: cover; }

.section-contacts{ float: left; width: 100%; margin: 0; }

.service-form{ float: left; width: 40%; margin: 15px 30% 65px; }

.contact-info{ float: left; width: 45%;
    h4{ float: left; width: 100%; margin-top: 45px; font-size: 22px; font-family: @f-l; font-weight: bold; }
    p{ float: left; width: 100%; margin-top: 25px; font-size: 14px; }
}

.contact-form{ float: left; width: 55%;
    h4{ float: left; width: 70%; margin: 45px 15% 0; font-size: 22px; font-family: @f-l; font-weight: bold;  }

}

.bc-btn-row{ float: left; width: 70%; margin: 0 15%;
    .bc-btn{ float: left; margin: 19px 0 0;}
}

.contact-map{ float: left; width: 100%; height: 350px; margin: 35px 0;}
