/* CONSTANTS */
button,
input {
  font-family: "Ubuntu-L";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu-R";
}
.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9000px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
  display: none;
}
.modal-wrapper {
  position: fixed;
  height: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
}
.modal-close {
  position: absolute;
  height: 40px;
  width: 40px;
  background: url(../img/modal-close.png) center center no-repeat;
  background-size: cover;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.modal .modal-close,
.modal-calc .modal-close {
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
}
.opacity-one {
  opacity: 1;
}
.modal {
  display: block;
  margin: 150px auto;
  height: auto;
  min-height: 200px;
  max-width: 700px;
  width: 90%;
  background: #fff;
  color: #3b3b3b;
  text-align: center;
  z-index: 4;
  padding-top: 20px;
  padding-bottom: 2px;
  display: none;
  position: relative;
}
.btns-row {
  float: left;
  width: 100%;
  margin-top: 25px;
}
.modal input {
  display: inline-block;
  width: 140px;
  padding: 10px 25px;
  margin-right: 20px;
  margin-left: 20px;
  height: 12px;
  outline: none;
  border: none;
  border: 1px solid #5d4063;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-size: 12px;
  font-family: "Ubuntu-R";
}
.btn-wrap {
  float: left;
  width: 100%;
  text-align: center;
}
.btn-black {
  width: auto;
  outline: none;
  box-sizing: border-box;
  padding: 7px 15px;
  border: 1px solid #000;
  color: #000;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.btn-black:hover {
  color: #fff;
  background: #000;
}
.send-btn {
  display: inline-block;
}
.modal-title {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-family: "Ubuntu-L";
}
.thx {
  display: block;
  margin: 150px auto;
  height: auto;
  width: 270px;
  background: #fff;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  outline: none;
  border: none;
  border: 1px solid #5d4063;
  font-size: 13px;
  padding: 40px 25px;
  text-align: center;
  z-index: 13;
  display: none;
}
.thx p {
  font-size: 13px;
}
.wrap {
  float: left;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
}
.header {
  float: left;
  width: 100%;
}
.head {
  float: left;
  width: 100%;
  padding: 23px 0;
  background: #fff;
  position: relative;
  z-index: 3;
}
.head-logo {
  float: left;
  height: 45px;
  width: auto;
}
.head-logo img {
  float: left;
  height: 100%;
  width: auto;
}
.head-lang {
  float: right;
  height: 45px;
  width: auto;
}
.lang-box {
  float: left;
  width: 55px;
  height: 45px;
  line-height: 45px;
  font-size: 11px;
  text-align: center;
  color: #525084;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.lang-box:hover {
  background: rgba(82, 80, 132, 0.2);
}
.lang-center {
  border-left: 1px solid rgba(82, 80, 132, 0.5);
  border-right: 1px solid rgba(82, 80, 132, 0.5);
}
.navigation {
  float: left;
  width: 100%;
  background: #000;
  position: relative;
}
.navigation-row {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.nav {
  display: block;
  color: #fff;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}
.nav:hover {
  text-decoration: underline;
}
.nav-mob {
  display: none;
  float: left;
  padding: 12px 10%;
  height: 16px;
  width: 80%;
  background: #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.nav-mob p {
  float: left;
  width: auto;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #fff;
}
.header-main {
  float: left;
  width: 100%;
  padding-top: 135px;
  padding-bottom: 135px;
  box-sizing: border-box;
  background: url(../img/header.jpg) center center no-repeat;
  background-size: cover;
}
.header-main h1 {
  float: left;
  width: 100%;
  font-weight: normal;
  font-size: 34px;
  color: #000;
  text-align: center;
}
.header-main .btn-wrap {
  margin-top: 25px;
}
.second {
  float: left;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 95px;
  box-sizing: border-box;
  background: url(../img/second.jpg) center center no-repeat;
  background-size: cover;
}
.second h2 {
  float: left;
  width: 100%;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
.second p {
  float: left;
  width: 100%;
  color: #fff;
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
}
.main-spec {
  float: left;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.main-spec-title {
  display: none;
  float: left;
  width: 100%;
  margin-top: 35px;
  font-size: 18px;
  color: #383838;
  text-align: center;
}
.ms-box {
  float: left;
  width: 20%;
  height: 550px;
  box-sizing: border-box;
  padding: 0 10px;
  border-right: 1px solid #b4b4b4;
  position: relative;
}
.ms-box h2 {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  font-size: 18px;
  color: #383838;
  text-align: center;
  font-weight: normal;
}
.ms-box h3 {
  float: left;
  width: 100%;
  margin-top: 135px;
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 20px;
  font-family: "Ubuntu-B";
  font-weight: normal;
  color: #b4b4b4;
}
.ms-box img {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.ms-box p {
  float: left;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 0 30px;
  font-size: 13px;
  color: #383838;
}
.ms-box-no {
  border-right: none;
}
.footer {
  float: left;
  width: 100%;
  background: #000;
}
.footation {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #6f6f6f;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.foot {
  display: block;
  color: #6f6f6f;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}
.foot a {
  color: #6f6f6f;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.foot a:hover {
  color: #fff;
}
.under-footer {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.foot-logo {
  display: block;
  height: 37px;
  width: auto;
}
.foot-logo img {
  display: block;
  height: 100%;
  width: auto;
}
.foot-tel {
  display: block;
  height: 37px;
  box-sizing: border-box;
  width: auto;
  padding-top: 13px;
  font-size: 12px;
  color: #6f6f6f;
}
.foot-tel a {
  color: #6f6f6f;
}
.foot-icons {
  display: block;
  height: 37px;
  width: auto;
}
.foot-icon {
  display: inline-block;
  height: 100%;
  width: auto;
  box-sizing: border-box;
  padding: 12px 9px 0;
}
.foot-icon img {
  display: block;
  height: 19px;
  width: auto;
}
.foot-gi {
  display: block;
  height: 37px;
  width: auto;
  box-sizing: border-box;
  padding-top: 4px;
}
.foot-gi p {
  display: inline-block;
  font-size: 13px;
  color: #6f6f6f;
  line-height: 14px;
  text-align: right;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  vertical-align: bottom;
}
.foot-gi svg {
  display: inline-block;
  margin-left: 12px;
  height: 28px;
  width: auto;
  vertical-align: bottom;
}
.foot-gi path {
  fill: #67717a;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.foot-gi:hover path {
  fill: #2281c1;
}
.foot-gi:hover p {
  color: #fff;
}
.section-processes {
  float: left;
  width: 100%;
  padding: 35px 0;
  background: rgba(0, 0, 0, 0.1);
}
.box-process {
  float: left;
  width: calc(50% - 30px);
  margin: 15px;
  box-shadow: 0.5px 0.9px 16px 0 rgba(0, 0, 1, 0.26);
  background: #fff;
}
.bp-img {
  float: left;
  width: 100%;
  height: 200px;
  position: relative;
}
.bp-img h3 {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.bp-img h4 {
  position: absolute;
  bottom: 15px;
  left: 25px;
  color: #fff;
  font-size: 17px;
  font-family: "Ubuntu-L";
  letter-spacing: 1px;
  font-weight: normal;
}
.bp-txt {
  float: left;
  width: 100%;
  box-sizing: border-box;
  min-height: 87px;
  padding: 15px 25px;
}
.bp-txt p {
  float: left;
  width: 100%;
  font-size: 14px;
}
.bp-1 {
  background: url(../img/process-1.jpg) center center no-repeat;
  background-size: cover;
}
.bp-2 {
  background: url(../img/process-2.jpg) center center no-repeat;
  background-size: cover;
}
.bp-3 {
  background: url(../img/process-3.jpg) center center no-repeat;
  background-size: cover;
}
.bp-4 {
  background: url(../img/process-4.jpg) center center no-repeat;
  background-size: cover;
}
.bp-5 {
  background: url(../img/process-5.jpg) center center no-repeat;
  background-size: cover;
}
.bp-6 {
  background: url(../img/process-6.jpg) center center no-repeat;
  background-size: cover;
}
.bp-7 {
  background: url(../img/process-7.jpg) center center no-repeat;
  background-size: cover;
}
.box-process-call {
  float: left;
  width: calc(100% - 30px);
  margin: 15px;
  background: #fff;
  box-shadow: 0.5px 0.9px 16px 0 rgba(0, 0, 1, 0.26);
}
.box-process-call .box-process {
  width: calc(50% - 15px);
  margin: 0 15px 0 0;
  box-shadow: none;
}
.box-consultation {
  float: left;
  width: calc(50% - 15px);
  margin: 0 0 0 15px;
}
.box-consultation h3 {
  float: left;
  width: 100%;
  margin-top: 15px;
  text-align: center;
}
.bc-row {
  float: left;
  margin-top: 5px;
  width: 100%;
  position: relative;
}
.bc-row label {
  float: left;
  width: 70%;
  margin: 12px 15% 0;
  font-size: 13px;
  font-family: "Ubuntu-L";
}
.bc-row input {
  float: left;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 5px 15% 0;
  font-size: 14px;
  box-sizing: border-box;
  padding: 7px 7px 7px 30px;
  font-family: "Ubuntu-L";
}
.bc-row input:focus {
  border: 1px solid #525084;
}
.bc-row img {
  position: absolute;
  top: 14px;
  left: calc(15% + 10px);
  height: 17px;
  width: auto;
}
.bc-row .bc-btn {
  display: block;
  margin: 19px auto 0;
  width: auto;
  outline: none;
  box-sizing: border-box;
  padding: 3px 35px;
  border: 1px solid #525084;
  color: #525084;
  font-size: 14px;
  font-family: "Ubuntu-R";
  background: #fff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.bc-row .bc-btn:hover {
  color: #fff;
  background: #525084;
}
.sc-title {
  float: left;
  width: 100%;
  background: #fff;
  padding: 35px 0;
}
.sc-title h3 {
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Ubuntu-R";
  font-weight: normal;
  font-size: 18px;
}
.sc-title p {
  float: left;
  width: 60%;
  margin: 7px 20% 0;
  text-align: center;
  font-size: 14px;
}
.sc-box {
  float: left;
  width: 100%;
  margin-bottom: 8px;
  display: flex;
}
.sc-img {
  float: left;
  width: 50%;
}
.com-1 {
  background: url(../img/com-1.jpg) center center no-repeat;
  background-size: cover;
}
.com-2 {
  background: url(../img/com-2.jpg) center center no-repeat;
  background-size: cover;
}
.com-3 {
  background: url(../img/com-3.jpg) center center no-repeat;
  background-size: cover;
}
.sc-txt {
  float: left;
  width: 50%;
  padding: 45px;
  box-sizing: border-box;
  background: #525084;
}
.sc-txt h3 {
  float: left;
  width: 100%;
  font-size: 16px;
  font-family: "Ubuntu-B";
  color: #fff;
}
.sc-txt p {
  float: left;
  width: 100%;
  margin-top: 25px;
  color: #fff;
  font-size: 14px;
}
.sc-txt a {
  float: left;
  width: auto;
  margin-top: 35px;
  border: 1px solid #fff;
  padding: 5px 45px;
  font-size: 13px;
  color: #fff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}
.sc-txt a:hover {
  background: #fff;
  color: #525084;
}
.sc-txt span {
  text-decoration: underline;
}
.header-service {
  float: left;
  width: 100%;
  background: url(../img/header-services.jpg) center center no-repeat;
  background-size: cover;
  padding: 150px 0 180px;
  margin-bottom: 8px;
}
.header-service h1 {
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 29px;
  font-family: "Ubuntu-L";
  font-weight: normal;
}
.header-service h2 {
  float: left;
  width: 100%;
  text-align: center;
  margin: 15px 0 0;
  color: #fff;
  font-size: 15px;
  font-family: "Ubuntu-L";
  font-weight: normal;
}
.service-1 {
  background: url(../img/service-1.jpg) center center no-repeat;
  background-size: cover;
}
.service-2 {
  background: url(../img/service-2.jpg) center center no-repeat;
  background-size: cover;
}
.section-services {
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.service-advantages {
  float: left;
  width: 100%;
}
.service-advantages h2 {
  float: left;
  width: 100%;
  margin-top: 45px;
  font-family: "Ubuntu-L";
  font-weight: normal;
  font-size: 25px;
  text-align: center;
}
.sa-boxes {
  float: left;
  width: 90%;
  margin: 25px 5% 0;
}
.sa-box {
  float: left;
  width: calc(33% - 30px);
  margin: 15px;
  box-shadow: 0.5px 0.9px 16px 0 rgba(0, 0, 1, 0.26);
  background: #fff;
}
.sa-img {
  float: left;
  width: 100%;
  height: 220px;
  position: relative;
}
.sa-img h3 {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.sa-txt {
  float: left;
  width: 100%;
  box-sizing: border-box;
  min-height: 170px;
  padding: 15px 25px;
}
.sa-txt h3 {
  float: left;
  width: 100%;
  font-size: 17px;
  text-align: left;
  font-family: "Ubuntu-L";
  font-weight: normal;
}
.sa-txt p {
  float: left;
  margin: 15px 0 0;
  width: 100%;
  font-size: 14px;
}
.sa-1 {
  background: url(../img/serv-1.jpg) center center no-repeat;
  background-size: cover;
}
.sa-2 {
  background: url(../img/serv-2.jpg) center center no-repeat;
  background-size: cover;
}
.sa-3 {
  background: url(../img/serv-3.jpg) center center no-repeat;
  background-size: cover;
}
.sa-services {
  float: left;
  width: 60%;
  margin: 35px 20% 0;
}
.sa-service {
  float: left;
  width: 100%;
  margin-bottom: 25px;
  box-shadow: 0.5px 0.9px 16px 0 rgba(0, 0, 1, 0.26);
  background: #fff;
  display: flex;
}
.sas-txt {
  width: 50%;
  padding: 35px 25px;
  min-height: 150px;
}
.sas-txt h3 {
  float: left;
  width: 100%;
  font-size: 18px;
  font-family: "Ubuntu-L";
  font-weight: normal;
}
.sas-txt p {
  float: left;
  width: 100%;
  margin-top: 15px;
  font-size: 13px;
}
.sas-img {
  width: 50%;
}
.sas-1 {
  background: url(../img/usluga-1.jpg) center center no-repeat;
  background-size: cover;
}
.sas-2 {
  background: url(../img/usluga-2.jpg) center center no-repeat;
  background-size: cover;
}
.sas-3 {
  background: url(../img/usluga-3.jpg) center center no-repeat;
  background-size: cover;
}
.sas-4 {
  background: url(../img/usluga-4.jpg) center center no-repeat;
  background-size: cover;
}
.sas-5 {
  background: url(../img/usluga-5.jpg) center center no-repeat;
  background-size: cover;
}
